.wrapper:not(.expanded) {
  border-bottom: 1px solid #F0F5F7;
}

.header {
  padding: 20px 0;
  cursor: pointer;
  word-break: break-word;
  word-wrap: break-word;
}

.content {
  padding: 13px 20px 24px 20px;
  margin: 0 -20px;
  background-color: #F3FCFF;
}

.content,
.content p,
.content ul,
.content li {
  font-size: 16px;
  line-height: 19px;
  word-break: break-word;
  word-wrap: break-word;
}

.content img {
  max-width: 100% !important;
}

.content a {
  text-decoration: underline;
}

.content p {
  margin: 21px 0;
}

.content p:first-child {
  margin-top: 0;
}

.content p:last-child {
  margin-bottom: 0;
}