.wrapper {
  position: relative;
}

.counter {
  position: absolute;
  top: 0;
  right: -5px;
  display: inline-block;
  padding: 0 4px;
  background-color: #D0021B;
  border-radius: 6px;
  color: #fff;
  font-size: 10px;
}

.link {
  display: inline-block;
}

.link svg {
  display: block;
}