.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 61px;
}

.label {
  color: #7A8185;
  font-size: 12px;
  text-decoration: none;
}

.logout {
  margin-left: 30px;
}

.user {
  margin-left: 12px;
}

.notifications {
  margin-left: 30px;
}