.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
}

.wrapper:not(:first-child) {
  margin-top: 9px;
}

.selected {
  background-color: #15526A;
  box-shadow: inset 6px 0 0 #3DBDF6;
}

.link {
  display: inline-block;
  flex-grow: 1;
}

.icon-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  padding-left: 4px;
  z-index: 1;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 57px;
  z-index: 2;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}