body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #000;
  font-family: ProximaNova, sans-serif;
}

a {
  color: #3DBDF6;
}

figure {
  margin: 0;
}

svg {
  display: inline-block;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}